h3
{
    padding-bottom: 16px;
    color: #304352;
    font: bold 22px/ 32px "Open sans", sans-serif;
}

p
{
    color: #555555;
    font: 16px/ 28px "Georgia";
}

.background
{
    filter: contrast(0.3);
    width: 100%; 
    height: 100%;
}

.main_block
{
    margin: 0 auto;
    margin-top: -205px;
    width: 960px;
    position: relative;
}

.navigation
{
    width: 960px;
    margin: auto;
}

.navigation_link
{
    display: inline-block;
    padding: 0px 30px;
    text-align: center;
    font: italic 19px/ 50px "Georgia", sans-serif;
}

.navigation_link:hover
{
    background: #15a98c;
    color: #fff;
}

.navigation a
{
    font: italic 19px/ 50px "Georgia", sans-serif;
    text-decoration: none;
    color: #333333;
}

.background
{
    height: 400px;
}

.left_block
{
    float: left;
    width: 330px;
    padding-top: 15px;
}

.right_block
{
    margin-left: 390px;
    width: 590px;
}

.photo
{
    width: 330px;
    height: 350px;
    margin-bottom: 41px;
}

.title_block
{
    color: #15a98c;
    font-weight: 600;
    height: 260px;
    font-size: 24px;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.list
{
    font: 19px/36px "Georgia";
    color: #555555;
}

.subjects
{
    margin-top: 13px;
    margin-bottom: 43px;
    padding-left: 23px;
    width: 330px;

}

.writers
{
    margin-top: 12px;
    margin-bottom: 41px;
    padding-left: 20px;
    width: 330px;
}


.quotes
{
    font: italic 28px/42px "Georgia";
    color: #ffffff;
    padding-top: 40px;
    width: 430px;
}

.author
{
    margin-top: 2px;
    padding-right: 5px;
    font: 16px/42px "Open Sans", sans-serif;
    color: #ffffff;
    font-weight: 700;
    height: 50px;
}

.content
{
    line-height: 36px;
    width: 480px;
    margin-top: 66px;
}

.name
{
    font: 48px/42px "Open Sans", sans-serif;
    font-weight: bold;
    color: #333333;
    margin-bottom: 32px;
    padding-top: 7px;
    width: 550px;
}

.rectangle
{
    background-color: #45c3aa;
    margin-bottom: 29px;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    display: inline-block;
}

.info
{
    font: 19px/32px "Georgia";;
    color: #555555;
    margin-bottom: -10px;
    line-height: 32px;
}


.hobbies
{
    margin-top: 18px;
    font-family: "Georgia";
    font-size: 19px;
    color: #555555;
    line-height: 32px;
}


.header
{
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    color: #333333;
    margin-top: 56px;
    margin-left: -3px;
}

.link_block
{
    font-family: "Georgia";
    font-size: 19px;
    line-height: 1.684;
    margin-top: 42.8px;
}


.link
{
    color: #15a98b;
    text-decoration: none;
}

.ku
{
    text-decoration: underline;
}

.films_block
{ 
    width: 1200px;
    margin: 0 auto;
}

.favourite_films
{
    color: #333333;
    font: 400 36px/ 42px "Open sans", sans-serif;
    padding-top: 93px;  
    margin-bottom: 33px;
}

.film
{
    float: left;
    width: 285px;
    padding-left: 20px;
    font-family: "Georgia";
    font-size: 16px
}

.film.one
{
    padding: 0;
}

.film_image
{
    width: 285px;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.favourite_films_block
{
    width: 1200px;
    margin: 0 auto;
}

.clear
{
    clear: both;
}

.allfilms_button
{
    width: 220px;
    margin: auto;
    height: 50px;
    margin-top: 60px;
    padding-bottom: 62px;
}

.allfilms
{
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background-color: #15a98c;
    border-radius: 5px;
    font: 19px/50px "Georgia";
}

.allfilms:hover
{
    background: #00FF00;
    color: #fff;
}

.copyright
{
    height: 70px;
    margin: 0 auto;
    background-color: #D3D3D3;
}

.copyright_text
{
    padding-top: 20px;
    text-align: center;
    margin: auto;
}



.feedback_block
{
    width: 700px;
    margin: 0 auto;
}

.feedback_header
{
    padding-top: 43px;
    text-align: center;
    font: 36px/42px "Open Sans", sans-serif;
    color: #333;
    overflow: hidden;
}

.to_me
{
    display: inline-block;
    margin: 0 auto;
    font: 36px/42px  "Open Sans", sans-serif;
    color: #333333;
}

.feedback_header:before,.feedback_header:after
{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #A9A9A9;
    position: relative;
}

.feedback_header:before 
{
    margin-left: -100%;
    left: -15px;
}

.feedback_header:after
{
    margin-right: -100%;
    right: -15px;
}

.registration_block
{
    width: 540px;
    margin-top:  68px;
    margin-left: 89px;
}

.gender_block
{
    padding: 16px 0 36px 0;
}

.gender_name
{
    font: 18px/32px "Open Sans", sans-serif;
    color: #333;
    padding-left: 3px;
}

.radio_gender
{
    margin-left: 1px;
}


.female
{
    margin-left: 37px;
}

.registration_zone input, .registration_zone select
{
    box-sizing: border-box;
    font: 18px/32px "Open Sans", sans-serif;
    padding-left: 12px;
}

.registration_zone
{
    padding-bottom: 25px;
    color: #555;
}

.input_zone
{
    width: 540px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    margin-top: 3px;
}

.comment_block
{
    padding-bottom: 45px;
}

.comment
{
    padding-bottom: 4px;
}

.submit
{
    width: 220px;
    height: 50px;
    background-color: #098d71;
    border-radius: 5px ;
    border-color: #fff;
    font: 19px/ 50px "Georgia";
    color: #fff;
    text-align: center;
}

.send_button
{
      padding-bottom: 50px;
}

.submit:hover
{
    background: #15a98c;
    cursor: pointer;
}

textarea
{
    width: 537px;
    height: 145px;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    resize: none;
    font: 18px/32px "Open Sans", sans-serif;
}

input:hover, select:hover,  textarea:hover
{
    border-color: #708090;
}

input:focus, select:focus, textarea:focus
{
    border-color: #15a98c;
}

label
{
    font: 20px/32px "Open Sans", sans-serif;
    color: #333;
}

label span
{
    color: red;
}

.gender
{
    height: 36px;
}
